* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 60%;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 40%;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 40%;
  }
}
